@page
{
	margin: 1em 2em;
}
body
{
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	margin-left: 1em;
	margin-right: 1.3em;
}
.h1
{
	margin-top: 0.7em;
	margin-bottom: 0.2em;
	text-align: center;
	font-weight: bold;
	font-size: 2em;
	page-break-after: avoid;
}
.h1a
{
	font-size: 1.5em;
	margin-top: 1.5em;
	margin-bottom: 4.5em;
	text-align: right;
	text-indent: 0em;
	font-style: normal;
	color: black;
	page-break-after:avoid;
}
.h2
{
	font-size: 1.8em;
	margin-top: 1em;
	margin-bottom: 2em;
	font-weight: bold;
	color: #7d415e;
	text-align: left;
	page-break-after: avoid;
}
.h2a
{
	font-weight: bold;
	font-size: 1.8em;
	margin-top: 1em;
	margin-bottom: 1.5em;
	text-align: left;
	color: #7d415e;
	page-break-after:avoid;
}
.h2b
{
	font-size: 2em;
	margin-top: 1em;
	margin-bottom: 1.3em;
	font-weight: normal;
	page-break-after: avoid;
	text-align: left;
	color: #0072bc;
	margin-left: 1.3em;
	text-indent: -1.3em;
}
.h3
{
	font-size: 140%;
	margin-top: 1.2em;
	margin-bottom: 0.3em;
	margin-left: 0em;
	page-break-after: avoid;
	text-align: left;
	font-weight: bold;
	color: #7d415e;
}
.h3i
{
	font-size: 120%;
	margin-top: 0.8em;
	margin-bottom: 0.2em;
	margin-left: 0em;
	font-weight: bold;
	text-align: left;
}
.h3a
{
	font-size: 140%;
	margin-top: 1em;
	margin-bottom: 0.7em;
	font-weight: bold;
	page-break-after: avoid;
	text-align: center;
}
.h4
{
	margin-top: 1.2em;
	margin-bottom: 0.5em;
	font-size: 125%;
	page-break-after: avoid;
	text-align: left;
	font-weight: bold;
	color: #7d415e;
}
.h5
{
	margin-top: 1.2em;
	margin-bottom: 0.3em;
	font-weight: bold;
	font-size: 110%;
	color: #7d415e;
	page-break-after: avoid;
	text-align: left;
}
h6
{
	margin-top: 1.2em;
	margin-bottom: 0.3em;
	font-weight: normal;
	font-style: normal;
	font-size: 125%;
	page-break-after: avoid;
	text-align: left;
}
.part
{
	margin-top: 0.8em;
	margin-bottom: 2em;
	text-align: left;
	font-weight: bold;
	font-size: 1.8em;
	page-break-after: avoid;
}
.subtitle
{
	margin-top: 0.5em;
	margin-bottom: 0.2em;
	text-align: center;
	font-weight: bold;
	font-size: 1.6em;
}
div.cover img
{
	max-width: 99%;
	max-height: 99%;
}
.cover
{
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	text-align: center;
}
.indent
{
	margin-top: 0.2em;
	margin-bottom: 0.1em;
	text-indent: 1.3em;
}
.indentt
{
	margin-top: 1em;
	margin-bottom: 0.1em;
	text-indent: 1.3em;
}
.indenttb
{
	margin-top: 1em;
	margin-bottom: 1em;
	text-indent: 1.3em;
}
.indentb
{
	margin-top: 0em;
	margin-bottom: 1em;
	text-indent: 1.3em;
}
ol
{
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0em;
	font-weight: bold;
}
ol li p
{
	margin-top: 0.5em;
	margin-bottom: 0.1em;
	font-weight: normal;
	color: #000000;
}
ul li p
{
	margin-top: 0.5em;
	margin-bottom: 0.2em;
	font-weight: normal;
	color: #000000;
}
ul.bullet
{
	margin-top: 0.8em;
	margin-bottom: 0.8em;
	margin-left: 0em;
	list-style-type: disc;
	color: #000000;
}
ul.square
{
	margin-top: 0.8em;
	margin-bottom: 0.8em;
	margin-left: 0em;
	list-style-type: square;
	color: #7d415e;
}
ul.square1
{
	margin-top: 0.3em;
	margin-bottom: 0.1em;
	margin-left: -0.7em;
	list-style-type: square;
	color: #0072bc;
}
ul.squares
{
	margin-top: 0.7em;
	margin-bottom: 0.7em;
	margin-left: -0.3em;
	list-style-type: square;
	color: #808285;
}
ul.bulls
{
	margin-top: 0.7em;
	margin-bottom: 0.7em;
	margin-left: -1.3em;
	list-style-type: disc;
	color: #000000;
}
ul.bullss
{
	margin-top: 0.7em;
	margin-bottom: 0.7em;
	margin-left: 0.7em;
	list-style-type: disc;
	color: #000000;
}
ol.alpha-lower
{
	list-style-type: lower-alpha;
	margin-top: 0.5em;
	margin-left: 0em;
	margin-bottom: 0.5em;
}
ol.upper-alpha
{
	list-style-type: upper-alpha;
	margin-top: 0.7em;
	margin-left: 0em;
	margin-bottom: 0.7em;
}
ol.alpha1
{
	list-style-type: lower-alpha;
	margin-top: 0.2em;
	margin-left: 1.5em;
	margin-bottom: 0.2em;
}
.noindent
{
	margin-top: 0.5em;
	margin-bottom: 0.1em;
	text-indent: 0em;
}
.noindentz
{
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	text-indent: 0em;
}
.noindentr
{
	margin-top: 0.5em;
	margin-bottom: 0.1em;
	text-align: right;
}
.squ-list
{
	margin-top: 0.3em;
	margin-bottom: 0.1em;
	margin-left: 0em;
	text-indent: 0em;
}
.num-list
{
	margin-top: 0.3em;
	margin-bottom: 0.1em;
	margin-left: 0em;
	text-indent: 0em;
}
.num-list1
{
	margin-top: 0.3em;
	margin-bottom: 0.1em;
	margin-left: -0.7em;
	text-indent: 0em;
}
.pro-title
{
	margin-top: 1em;
	margin-bottom: 0.1em;
	text-indent: 0em;
}
.list-p
{
	margin-top: 0.5em;
	margin-bottom: 0.1em;
	text-indent: 0em;
}
.list-sim
{
	margin-top: 0.8em;
	margin-bottom: 0.8em;
	margin-left: 1.3em;
	margin-right: 1.3em;
	text-indent: 0em;
}
.middle
{
	vertical-align: middle;
	margin-bottom: 0.2em;
}
.inf-image
{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: center;
}
.image
{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: center;
}
.image1
{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 0em;
	text-align: center;
}
.cap
{
	font-size: 100%;
	margin-top: 1em;
	margin-bottom: 0.8em;
	margin-left: 0em;
	text-align: center;
}
.imaget
{
	margin-top: 1em;
	margin-left: 1em;
	text-align: left;
}
.sidebar
{
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 1.5em;
	margin-right: 1.5em;
	background-color: #f2e2ce;
	padding: 0.4em 0.8em 0.8em 0.8em;
}
.sidebar-title
{
	font-size: 1.2em;
	margin-top: 0.2em;
	margin-bottom: 0.5em;
	font-weight: bold;
	text-align: left;
	color: #466f82;
}
.sidebar-p
{
	margin-top: 0.5em;
	margin-bottom: 0.1em;
	margin-left: 0em;
	margin-right: 0em;
	text-indent: 0em;
}
.example
{
	margin-top: 0.8em;
	margin-bottom: 0.2em;
	margin-left: 0.1em;
}
.example1
{
	margin-top: 0.8em;
	margin-bottom: 0.2em;
	margin-left: 8em;
	text-indent: -8em;
}
.border
{
	border-bottom: double #7d415e 0.2em;
}
.border7
{
	border-bottom: double .2em;
	border-right: solid 0.1em;
	border-left: solid 0.1em;
	border-top: double .2em;
}
.border-1
{
	border-bottom: solid 0.1em;
	border-left: solid 0.1em;
}
.border1
{
	border-left: solid 0.1em;
}
.border4
{
	border-top: solid 0.1em;
	border-left: solid 0.1em;
}
.bordera
{
	border-top: black solid 0.1em;
	border-bottom: black solid 0.1em;
}
.tabtext
{
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	text-indent: 0em;
	margin-left: 0.5em;
}
.tabtexti
{
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	text-indent: 0em;
	margin-left: 0em;
}
.tab-caption
{
	margin-top: 1em;
	margin-left: 0em;
	margin-bottom: 0.5em;
	text-align: left;
	page-break-before: avoid;
	page-break-inside: avoid;
}
.fig-caption
{
	font-size: 0.9em;
	margin-top: 0.2em;
	margin-bottom: 0.5em;
	margin-left: 0em;
	text-indent: 0em;
	text-align: left;
	page-break-before: avoid;
	page-break-inside: avoid;
	padding-top: 0.5em;
}
.list-cap
{
	font-size: 0.9em;
	margin-top: 1em;
	margin-bottom: 0.5em;
	margin-left: 0em;
	text-indent: 0em;
	text-align: left;
	padding-top: 0.5em;
	border-bottom: solid #6d6e71 0.15em;
}
.source1
{
	font-size: 0.9em;
	margin-top: 0.1em;
	margin-bottom: 1.5em;
	margin-left: 0.1em;
	text-indent: 0.01em;
	text-align: left;
}
a
{
	text-decoration: none;
}
.heading
{
	page-break-inside: avoid;
}
.tab-heading
{
	page-break-inside: avoid;
	margin-top: 1.5em;
	margin-bottom: 1em;
}
.underline
{
	text-decoration: underline;
}
.strike
{
	text-decoration: line-through;
}
.topbot
{
	margin-top: 0.5em;
	margin-bottom: 1em;
	border-top: solid black 0.15em;
	width: 100%;
	border-spacing: 0em;
}
.topbot1
{
	margin-top: 0.5em;
	margin-bottom: 1em;
	border-top: solid black 0.1em;
	width: 100%;
	border-spacing: 0em;
}
.all-1
{
	margin-top: 0.2em;
	margin-bottom: 1em;
	border-left: solid #39b54a 0.1em;
	border-right: solid #39b54a 0.1em;
	border-bottom: dotted #39b54a 0.2em;
	width: 100%;
	border-spacing: 0em;
}
.colth
{
	background-color: #39b54a;
	color: #FFFFFF;
	padding: 0.1em 0.3em 0.1em 0.3em;
	vertical-align: bottom;
}
.colths
{
	background-color: #cae3ae;
	padding: 0.1em 0.3em 0.1em 0.3em;
	vertical-align: bottom;
}
.col_co1
{
	border-right: solid #6d6e71 0.1em;
	background-color: #e2e3e4;
	padding-left: 0.3em;
	vertical-align: top;
}
.col_co2
{
	background-color: #e2e3e4;
	padding-left: 0.3em;
	vertical-align: top;
}
.col1a
{
	background-color: #eff6e8;
	padding: 0.1em 0.3em 0.1em 0.3em;
	border-bottom: dotted #b1d78a 0.2em;
	vertical-align: top;
}
.col1
{
	padding: 0.1em 0.3em 0.1em 0.3em;
	border-bottom: dotted #b1d78a 0.2em;
	vertical-align: top;
}
.col1z
{
	padding: 0.1em 0.3em 0.1em 0.3em;
	vertical-align: top;
}
.col1aa
{
	background-color: #eff6e8;
	padding: 0.1em 0.3em 0.1em 0.3em;
	vertical-align: top;
}
th
{
	vertical-align: bottom;
	border-bottom: solid black 0.15em;
	text-align: left;
}
td
{
	vertical-align: top;
	border-bottom: solid black 0.1em;
}
table
{
	width: 100%;
	border-collapse: collapse;
}
ul
{
	margin-top: 0.017em;
	margin-bottom: 0.017em;
}
ul li p
{
	color: #000000;
	font-weight: normal;
}
.indexmain
{
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	text-indent: -1.7em;
	margin-left: 1.7em;
	text-align: left;
}
.indexsub
{
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	text-indent: -1.7em;
	margin-left: 2.7em;
	text-align: left;
}
.indexsub1
{
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	text-indent: -1.7em;
	margin-left: 3.7em;
	text-align: left;
}
.dborder1
{
	border-bottom: double .2em;
}
.dborder
{
	border-top: double .2em;
}
.dborder3a
{
	border-top: double .2em;
	border-right: solid 0.1em;
}
ol.nav-none
{
	list-style-type: none;
	margin: 0em;
}
.ep-center
{
	margin-top: 1em;
	margin-left: 1em;
	text-align: center;
}
.eq-center
{
	margin-top: 1em;
	margin-left: 1em;
	text-align: center;
}
.eq-right
{
	margin-top: 1em;
	margin-left: 1em;
	text-align: right;
}
.eq-center1
{
	margin-top: 0.5em;
	margin-left: 0.5em;
	margin-left: 7em;
	text-align: left;
}
.eq-center2a
{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: left;
}
.eq_image
{
	margin-top: 1em;
	margin-left: 1em;
	text-align: center;
}
.eq_image2
{
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: left;
}
.eq_image1
{
	margin-top: 1em;
	margin-left: 1em;
	text-align: center;
}
.right
{
	margin-top: 1em;
	text-align: right;
	margin-bottom: 0.2em;
}
.dborder2
{
	border-bottom: double .2em;
	border-top: double .2em;
	width: 100%;
}
.table-c
{
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	margin-left: 0.2em;
	text-indent: 0em;
	text-align: center;
}
.table-h
{
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	text-align: left;
	margin-left: 1em;
	text-indent: -1em;
}
.table-p
{
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	text-indent: 0em;
	margin-left: 1em;
}
.table-p1
{
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	text-indent: 0em;
}
.tabcap
{
	margin-top: 1em;
	margin-bottom: 0.3em;
	margin-left: 0.2em;
	text-indent: 0em;
}
.source
{
	font-size: 0.9em;
	margin-top: 0.1em;
	margin-bottom: 1.5em;
	margin-left: 0.1em;
	text-indent: 0.01em;
	text-align: left;
}
.tab-parac-b
{
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	margin-left: 0.2em;
	border-bottom: solid 0.1em;
	text-indent: 0em;
	text-align: center;
}
.tab-parac2
{
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	text-align: center;
}
.c-ref
{
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	text-indent: 0em;
}
.eq_imager
{
	margin-top: 1em;
	margin-left: 1em;
	text-align: right;
}
.tabcap-app
{
	margin-top: 1em;
	margin-bottom: 0.3em;
	margin-left: 5.7em;
	text-indent: -5.7em;
}
.tab-parat
{
	margin-top: 1em;
	margin-bottom: 0.1em;
	margin-left: 0.2em;
	text-indent: 0em;
}
.border1a
{
	border-right: black solid 0.1em;
	border-top: black solid 0.1em;
	border-bottom: black solid 0.1em;
}
.border2
{
	border-right: black solid 0.1em;
}
.border3a
{
	border-top: black solid 0.1em;
}
.dborder3
{
	border-bottom: double .2em;
	border-right: black solid 0.1em;
}
.tab-parai
{
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 0.2em;
	text-indent: 1em;
}
.dborder2a
{
	border-top: double .2em;
	border-bottom:solid .1em;
	width: 100%;
}
.dborder1a
{
	border-bottom: double .2em;
}
.tab-caption1
{
	margin-top: 1.5em;
	margin-left: 0em;
	margin-bottom: 0.7em;
	margin-left: 5.3em;
	text-indent: -5.3em;
	text-align: left;
	page-break-before: avoid;
	page-break-inside: avoid;
}
ol.alpha1c
{
	list-style-type: lower-alpha;
	margin-top: 0.2em;
	margin-left: 2.3em;
	margin-bottom: 0.2em;
}
ol.alpha2c
{
	list-style-type: lower-alpha;
	margin-top: 0.2em;
	margin-left: 1.8em;
	margin-bottom: 0.2em;
}
.questionin
{
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	text-indent: 1.3em;
	margin-left: 3em;
}
.h2r
{
	margin-top: 1em;
	margin-bottom: 1em;
	font-weight: bold;
	font-size: 1.5em;
	page-break-after: avoid;
	text-align: right;
}
.source2
{
	font-size: 0.9em;
	margin-top: 0.1em;
	margin-bottom: 0.2em;
	margin-left: 0.1em;
	text-indent: 0.01em;
	text-align: left;
}
.noindent1
{
	margin-top: 1.5em;
	margin-bottom: 0.1em;
	margin-left: 0em;
}
.imagett
{
	margin-top: -1em;
	margin-left: 1em;
	text-align: left;
}
.edition
{
	margin-top: 1.2em;
	margin-bottom: 3em;
	font-weight: bold;
	text-align: center;
	font-size: 1.3em;
}
.author
{
	margin-top: 3em;
	margin-bottom: 0em;
	text-align: center;
	font-size: 1.3em;
	font-weight: bold;
}
.author1
{
	margin-top: 0.5em;
	margin-bottom: 8em;
	text-align: center;
	font-size: 1.1em;
	font-weight: bold;
}
.address
{
	margin-top: 0.2em;
	margin-bottom: 0em;
	text-align: center;
}
.pub
{
	margin-top: 0.5em;
	margin-bottom: 0.2em;
	text-align: center;
}
.rights
{
	margin-top: 1em;
	margin-bottom: 0.2em;
	text-align: right;
}
.sidebar-1
{
	margin-top: 0.5em;
	margin-bottom: 1.0em;
	margin-left: 0.2em;
	margin-right: 0.2em;
	page-break-after: avoid;
	page-break-inside: avoid;
	border: solid 0.15em;
	padding: 0.3em 1em 1em 1.2em;
}
.halftitle
{
	margin-top: 2em;
	margin-bottom: 0.4em;
	font-weight: normal;
	font-size: 1.8em;
	page-break-after: avoid;
	text-align: right;
}
.ded
{
	margin-top: 5.5em;
	margin-bottom: 0.3em;
	margin-left: 3em;
	margin-right: 3em;
	text-align: center;
}
.copyt
{
	font-size: 1.1em;
	margin-top: 1.2em;
	margin-bottom: 0.2em;
	text-indent: 0em;
}
.copyright
{
	font-size: 0.9em;
	margin-top: 3em;
	margin-bottom: 0em;
}
.copy
{
	margin-top: 0.8em;
	margin-bottom: 0em;
	text-indent: 0em;
}
.copya
{
	margin-top: 0.4em;
	margin-bottom: 0em;
	text-indent: 0em;
}
.copyi
{
	margin-top: 0.1em;
	margin-bottom: 0em;
	margin-left: 1em;
	text-indent: 0.8em;
}
.copyit
{
	margin-top: 0.6em;
	margin-bottom: 0em;
	margin-left: 1em;
	text-indent: 0.8em;
}
.copyii
{
	margin-top: 0.1em;
	margin-bottom: 0em;
	margin-left: 2.8em;
	text-indent: 0em;
}
.copy1
{
	margin-top: 1.2em;
	margin-bottom: 0em;
	text-indent: 0em;
}
.copy2
{
	margin-top: 1em;
	margin-bottom: 0em;
	text-indent: 0em;
}
.copyr
{
	margin-top: 0.5em;
	margin-bottom: 0em;
	margin-right: 1em;
	text-align: right;
}
.tocfm
{
	margin-top: 0.2em;
	margin-bottom: 0.3em;
	text-indent: 0em;
	margin-left: 3.5em;
	text-align: left;
}
.tocpart
{
	margin-top: 1em;
	margin-bottom: 0.5em;
	text-indent: 0em;
	margin-left: 0em;
	text-align: left;
}
.tocpart1
{
	margin-top: 1.3em;
	margin-bottom: 0.5em;
	text-indent: 5.1em;
	margin-left: -5.1em;
	text-align: left;
}
.tocparta
{
	margin-top: 1.3em;
	margin-bottom: 0.5em;
	text-indent: 5.1em;
	margin-left: -5.1em;
	text-align: left;
}
.tocchap
{
	margin-top: 1em;
	margin-bottom: 0.3em;
	margin-left: 0em;
	text-indent: 0em;
	text-align: left;
}
.tocchap1
{
	margin-top: 0.8em;
	margin-bottom: 0.3em;
	margin-left: 5.1em;
	text-indent: -5.1em;
	text-align: left;
}
.tocsec
{
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 3.5em;
	text-indent: 0em;
	text-align: left;
}
.tocseca
{
	margin-top: 0.5em;
	margin-bottom: 0.1em;
	margin-left: 5.1em;
	text-indent: 0em;
	text-align: left;
}
.tocsec1
{
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 7.5em;
	text-indent: 0em;
	text-align: left;
}
.tocapp
{
	margin-top: 1.2em;
	margin-bottom: 0.5em;
	margin-left: 5.4em;
	text-indent: -5.4em;
	text-align: left;
}
.tocbmt
{
	margin-top: 1.2em;
	margin-bottom: 0.1em;
	text-indent: 0em;
	margin-left: 3.5em;
	text-align: left;
}
.tocbm
{
	margin-top: 0.3em;
	margin-bottom: 0.1em;
	text-indent: 0em;
	margin-left: 3.5em;
	text-align: left;
}
.tocbm1
{
	margin-top: 0.8em;
	margin-bottom: 0.3em;
	margin-left: 5.4em;
	text-indent: -5.4em;
	text-align: left;
}
.chap-au
{
	margin-top: 0.5em;
	margin-bottom: 3em;
	text-align: left;
	font-size: 1.2em;
}
ol.alpha3c
{
	list-style-type: lower-alpha;
	margin-top: 0.2em;
	margin-left: -1em;
	margin-bottom: 0.2em;
}
.centers
{
	margin-top: 1.3em;
	margin-bottom: 1.0em;
	text-align: center;
}
.dborder4a
{
	border-top: double .2em;
}
.equation1
{
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	text-align: center;
}
.eq_right
{
	margin-top: 1em;
	margin-left: 1em;
	text-align: right;
}
.examples
{
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 8em;
	text-indent: -8em;
}
.fn
{
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	text-indent: 0em;
}
h4a
{
	margin-top: 1.3em;
	margin-bottom: 0.7em;
	font-weight: bold;
	font-size: 110%;
	text-align: left;
}
.hang
{
	margin-top: 0.2em;
	margin-bottom: 0.1em;
	margin-left: 1em;
	text-indent: -1em;
}
.indents
{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 1.3em;
}
.inline
{
	vertical-align: middle;
}
.nounder
{
	text-decoration: none;
}
.number
{
	margin-top: 1.4em;
	margin-bottom: 0.1em;
	text-indent: 0em;
}
.sourcea
{
	font-size: 0.9em;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 0.1em;
	text-indent: 0.01em;
	text-align: left;
}
.tab-center
{
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	text-align: center;
}
.tab-hang
{
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 1.5em;
	text-indent: -1.5em;
}
.tab-para-i
{
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 0.5em;
	text-indent: 0.1em;
}
.tab-parah
{
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	text-align: left;
	margin-left: 0.6em;
	text-indent: -0.6em;
}
.table-para
{
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 0.2em;
	text-indent: 0em;
}
.toc
{
	margin-top: 0.5em;
	margin-bottom: 0.3em;
	text-indent: 0em;
	margin-left: 2.8em;
	text-align: left;
}
.tocfig
{
	margin-top: 0.2em;
	margin-bottom: 0.1em;
	margin-left: 5.6em;
	text-indent: -5.6em;
	text-align: left;
}
.tocfigt
{
	margin-top: 1.2em;
	margin-bottom: 0.1em;
	margin-left: 5.6em;
	text-indent: -5.6em;
	text-align: left;
}
.tab_right
{
	margin-top: 1em;
	margin-left: 1em;
	text-align: right;
}
.sidebar2
{
	border-bottom: double .2em;
	border-top: double .2em;
}
.sq
{
	margin-top: 0.7em;
	margin-bottom: 0.1em;
	margin-left: 2.2em;
	text-indent: -0.8em;
}
.sqp
{
	margin-top: 0.5em;
	margin-bottom: 0.1em;
	margin-left: 2.2em;
	text-indent: 0em;
}
.sq1
{
	margin-top: 0.5em;
	margin-bottom: 0.1em;
	margin-left: 1.8em;
	text-indent: -0.8em;
}
.sq2
{
	margin-top: 0.5em;
	margin-bottom: 0.1em;
	margin-left: 2.7em;
	text-indent: -0.8em;
}
.sqs
{
	margin-top: 0.5em;
	margin-bottom: 0.1em;
	margin-left: 0.9em;
	text-indent: -0.8em;
}
.note
{
	margin-top: 1.3em;
	margin-bottom: 1em;
	margin-left: 1.5em;
	margin-right: 1.5em;
}
.warning
{
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 1.5em;
	margin-right: 1.5em;
	color: #ed288a;
}
.warnings
{
	background-color: #ed288a;
	color: #FFFFFF;
	padding: 0.1em 0.3em 0.1em 0.3em;
}
.warningt
{
	font-size: 1.0em;
	margin-top: 0.5em;
	margin-bottom: 0.1em;
	font-weight: bold;
	text-indent: 0em;
}
.tips
{
	background-color: #0084b6;
	color: #FFFFFF;
	padding: 0.1em 0.3em 0.1em 0.3em;
}
.warningp
{
	margin-top: 0.5em;
	margin-bottom: 0.1em;
	text-indent: 0em;
	color: #ed288a;
}
.tipt
{
	font-size: 1.0em;
	margin-top: 0.5em;
	margin-bottom: 0.1em;
	font-weight: bold;
	text-indent: 0em;
}
.notes
{
	background-color: #524fa1;
	color: #FFFFFF;
	padding: 0.1em 0.3em 0.1em 0.3em;
}
.tipp
{
	margin-top: 0.5em;
	margin-bottom: 0.1em;
	text-indent: 0em;
	color: #0084b6;
}
.star
{
	margin-top: 0.7em;
	margin-bottom: 0.7em;
	color: #80828d;
	margin-left: 1.3em;
	margin-right: 1.3em;
}
.s-para
{
	margin-top: 0.7em;
	margin-bottom: 0.7em;
	color: #80828d;
}
.video
{
	margin-top: 0.7em;
	margin-bottom: 0.7em;
	background-color: #eff6e8;
	padding: 0.3em;
	color: #80828d;
	margin-left: 1.3em;
	margin-right: 1.3em;
}
.v-title
{
	font-size: 1em;
	margin-top: 0.2em;
	margin-bottom: 0.1em;
	text-indent: 0em;
	color: #80828d;
}
.videop
{
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 1.8em;
	text-indent: 0em;
	color: #80828d;
}
.important
{
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 1.5em;
	margin-right: 1.5em;
	border: solid #f26522 0.15em;
	padding: 0.5em;
}
.tip
{
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 1.5em;
	margin-right: 1.5em;
	border: solid #008641 0.15em;
	padding: 0.5em;
}
.note-title
{
	font-size: 1.2em;
	margin-top: 0.2em;
	margin-bottom: 0.1em;
	font-weight: bold;
	text-indent: 0em;
}
.tro-title
{
	font-size: 1.3em;
	margin-top: 0.2em;
	margin-bottom: 0.5em;
	text-indent: 0em;
}
.tros
{
	background-color: #6d6e71;
	color: #FFFFFF;
	padding: 0.1em 0.3em 0.1em 0.3em;
}
.note-p
{
	margin-top: 0.5em;
	margin-bottom: 0.1em;
	margin-left: 0.8em;
}
.list
{
	margin-top: 0.5em;
	margin-bottom: 0.1em;
	text-indent: 0em;
}
.pre
{
	font-family: Courier New, monospace;
	font-size: 0.88em;
	margin-top: 0.7em;
	margin-bottom: 0.7em;
	margin-left: 1.5em;
	margin-right: 1.5em;
	text-align: left;
}
pre
{
	font-family: Courier New, monospace;
	font-size: 0.88em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 1.5em;
	text-align: left;
	color: #000000;
	font-weight: normal;
}
.code-para
{
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	text-indent: 0em;
}
.codelink
{
	font-size: 0.88em;
	margin-top: 0.8em;
	margin-bottom: 0.8em;
	font-weight: bold;
	page-break-after: avoid;
}
.tab-text
{
	margin-top: 0.3em;
	margin-bottom: 0.2em;
	margin-left: 0.1em;
	text-indent: 0em;
}
.chaptoc
{
	margin-top: 0.5em;
	margin-bottom: 0.1em;
	margin-left: 0em;
	text-indent: 0em;
}
.center
{
	margin-top: 0.8em;
	margin-bottom: 0.8em;
	text-align: center;
}
div.image-p
{
	page-break-before: always;
	text-align: center;
}
.feature
{
	margin-top: 1em;
	margin-bottom: 2.5em;
	margin-left: 1.5em;
	margin-right: 1.5em;
	text-indent: 0em;
}
.intro-para
{
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	font-weight: bold;
	font-size: 130%;
	text-align: left;
}
.object
{
	margin-top: 1em;
	margin-bottom: 2em;
	margin-left: 1.5em;
	margin-right: 1.5em;
	text-align: left;
}
.gloss
{
	margin-top: 0.5em;
	margin-bottom: 0.1em;
	margin-left: 0em;
	text-indent: 0em;
}
figcaption
{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-weight: normal;
	color: #000000;
}
.pd_ash
{
	color: #6d6e71;
}
.pd_blue
{
	color: #006097;
}
.pd_green
{
	color: #008578;
}
.pd_maroon
{
	color: #7d415e;
}
.pd_maroon1
{
	color: #e77e87;
}
.pd_brown
{
	color: #a68569;
}
.bq
{
	margin-top: 1em;
	margin-bottom: 1em;
	text-indent: 0em;
	margin-left: 1.5em;
	margin-right: 1.5em;
}
.att
{
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	text-align: right;
}
.attrib
{
	margin-top: 0.5em;
	margin-bottom: 0.3em;
	margin-left: 1.5em;
	margin-right: 0em;
	text-align: right;
}
.seriep
{
	font-size: 1.1em;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 0em;
	text-align: left;
}
.seriez
{
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 0em;
	text-align: left;
	border-bottom: solid black 0.1em;
	padding-bottom: 0.3em;
}
.bio
{
	font-size: 0.9em;
	margin-top: 0.5em;
	margin-bottom: 0.1em;
	text-indent: 0em;
}
.blockquote
{
	font-size: 0.9em;
	margin-top: 1em;
	margin-bottom: 1em;
	text-indent: 0em;
	margin-left: 1.5em;
	margin-right: 1.5em;
}
.quote
{
	font-size: 1.1em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 1.5em;
	margin-right: 1.5em;
	color: #466f82;
}
.bib
{
	margin-top: 0.5em;
	margin-bottom: 0.2em;
	margin-left: 1.9em;
	text-indent: -1.9em;
}
.parttoc
{
	margin-top: 0.7em;
	margin-bottom: 0.1em;
	text-indent: 0em;
	font-weight: bold;
}
.hidden
{
	display: none;
	visibility: hidden;
}

@media amzn-kf8
{
div.image-p img
{
	width: 99%;
}
div.image-pa img
{
	width: 99%;
}
}
.image-p
{
	page-break-before: always;
	text-align: center;
}
