ABreader/src/static/** linguist-vendored
ABreader/src/node_modules/** linguist-vendored
ABreader/src/tests/src/model/class_constructors/textbook/test_data/** linguist-vendored
ABreader/src/book/** linguist-vendored