src/static/** linguist-detectable=false
src/node_modules/** linguist-detectable=false
tests/unit/src/model/class_constructors/textbook/test_data/** linguist-detectable=false
src/book/** linguist-detectable=false
