<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Merge TailwindCSS into Flask app</title>
</head>
<body>
<!-- <div class="fixed bottom-0 left-0 w-full backdrop-filter backdrop-blur-md bg-opacity-30 bg-white shadow-md flex justify-between items-center p-4">
    <button id="prevpage" class="bg-gray-200 hover:bg-gray-300 px-4 py-2 rounded-md text-sm">Previous</button>
    <a href='{{ url_for("library") }}'><button class="text-gray-700 font-bold px-4 py-2 rounded-md">Return to Library</button></a>
    <button id="nextpage" class="bg-gray-200 hover:bg-gray-300 px-4 py-2 rounded-md text-sm">Next</button>
  </div> -->
<div>{% for page in book.href %}
  {% include book.opf_folder_location ~ "/" ~ page %}
{% endfor %}</div>
</body>
</html>