

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Book Reader</title>
    <link href="{{url_for('static',filename='static/css/main.css')}}" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>
</head>

<body>
    <div
        class="fixed bottom-0 left-0 w-full backdrop-filter backdrop-blur-md bg-opacity-30 bg-white shadow-md flex justify-between items-center p-4">
        <a href='{{ url_for("library") }}'><button class="text-gray-700 font-bold px-4 py-2 rounded-md">Return to
                Library</button></a>
    </div>

    {% block content %}{% endblock %}
    <!-- <iframe id="myIframe" src="{{ iframe }}" class="w-screen h-screen" frameborder="0"></iframe> -->

</body>
</html>

