{% extends '/templates/base.html' %}

{% block content %}
<style>.text-gradient-title {
    background: linear-gradient(to right, blue, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }</style>
<div class="relative isolate px-6 lg:px-8 pt-20">
    <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true"></div>
    <div class="mx-auto max-w-2xl py-10 sm:py-48 lg:py-10">
        <div class="text-center">
            <h1 class="text-4xl font-bold tracking-tight text-gradient-title sm:text-6xl">Enhance Your Reading with Our E-Book Reader</h1>
            <p class="mt-6 text-lg leading-8 text-gray-600">Discover a tailored in-browser reading experience. Upload and manage your EPUB books, enjoy automatic bookmarking, and customize your reading with text scaling and dark mode.</p>
            <div class="mt-10 flex items-center justify-center gap-x-6">
                <a href="{{ url_for('registration_form') }}" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign up now</a>
            </div>
        </div>
    </div>
</div>
</div>
<div class="bg-indigo-600 py-10 sm:py-10">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:text-center">
            <h2 class="text-base font-semibold leading-7 text-indigo-200">Optimized Reading Experience</h2>
            <p class="mt-2 text-3xl font-bold tracking-tight text-white sm:text-4xl">Features Designed for Book Lovers</p>
            <p class="mt-6 text-lg leading-8 text-indigo-200">Our web app is the ideal place to store and read your eBooks. Experience the features designed to provide you the comfort and ease of reading digitally.</p>
        </div>
        <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
            <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
                <div class="flex flex-col">
                    <dt class="flex items-center gap-x-3 text-base font-semibold leading-7 text-white">Upload and Store EPUB Books</dt>
                    <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-indigo-200">
                        <p class="flex-auto">Easily upload and store your EPUB format books for access anytime, anywhere.</p>
                    </dd>
                </div>
                <div class="flex flex-col">
                    <dt class="flex items-center gap-x-3 text-base font-semibold leading-7 text-white">Customizable In-Browser Reading</dt>
                    <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-indigo-200">
                        <p class="flex-auto">Adjust text size for accessibility and switch to dark mode to suit your reading preference.</p>
                    </dd>
                </div>
                <div class="flex flex-col">
                    <dt class="flex items-center gap-x-3 text-base font-semibold leading-7 text-white">Automatic Bookmarking</dt>
                    <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-indigo-200">
                        <p class="flex-auto">Never lose your place with our automatic bookmarking feature as you navigate through your book.</p>
                    </dd>
                </div>
            </dl>
        </div>
    </div>
</div>
<div class="bg-white">
    <div class="mx-auto max-w-7xl px-6 py-24 sm:pt-32 lg:px-8 lg:py-40">
        <div class="lg:grid lg:grid-cols-12 lg:gap-8">
            <div class="lg:col-span-5">
                <h2 class="text-2xl font-bold leading-10 tracking-tight text-gray-900">Frequently asked questions</h2>
                <p class="mt-4 text-base leading-7 text-gray-600">
                    Can’t find the answer you’re looking for? Reach out to our
                    <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">customer support</a>
team.
                </p>
            </div>
            <div class="mt-10 lg:col-span-7 lg:mt-0">
                <dl class="space-y-10">
                    <div>
                        <dt class="text-base font-semibold leading-7 text-gray-900">How do I upload my own EPUB books?</dt>
                        <dd class="mt-2 text-base leading-7 text-gray-600">To upload your EPUB books, navigate to the 'Upload' section in the interface and select the book files from your device.</dd>
                    </div>
                    <div>
                        <dt class="text-base font-semibold leading-7 text-gray-900">Is there a limit to the number of EPUB books I can upload?</dt>
                        <dd class="mt-2 text-base leading-7 text-gray-600">You can upload and manage a comprehensive library of EPUB books without worrying about limits.</dd>
                    </div>
                    <div>
                        <dt class="text-base font-semibold leading-7 text-gray-900">Can I customize my reading experience?</dt>
                        <dd class="mt-2 text-base leading-7 text-gray-600">Absolutely! You can adjust text sizes, switch to dark mode, and the content will dynamically reflow based on your viewport size.</dd>
                    </div>
                </dl>
            </div>
        </div>
    </div>
</div>

{% endblock %}
