<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Your Book Title</title>
    <link href="{{ url_for('static', filename='static/css/main.css') }}" rel="stylesheet">
</head>

<body style="overflow: hidden;">

    <div id="iframeWrapper" style="overflow: hidden; position: relative; height: 100vh;">
        <iframe id="myIframe" style="border: none; width: 100%; position: absolute;"></iframe>
    </div>

    <div id="navButtons" style="position: fixed; bottom: 0; left: 0; width: 100%; backdrop-filter: backdrop-blur-md; background-color: rgba(255, 255, 255, 0.3); box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); display: flex; justify-content: space-between; align-items: center; padding: 16px; z-index: 50; transition: opacity 1s; opacity: 1;">
        <button onclick="prevPage()" id="prevButton" style="background-color: #f0f0f0; padding: 8px 16px; border-radius: 4px; font-size: 14px;">Previous</button>
        <a href='{{ url_for("library") }}'><button style="font-size: 14px; font-weight: bold; padding: 8px 16px; border-radius: 4px;">Return to Library</button></a>
        <button onclick="nextPage()" id="nextButton" style="background-color: #f0f0f0; padding: 8px 16px; border-radius: 4px; font-size: 14px;">Next</button>
    </div>

    <script>
        let currentPage = 0;
        let totalPages = 0;
        let pageSize;
        let pages = [];

        const contentURL = "{{ book.href[book.book_index_number] }}"; 

        const iframe = document.getElementById('myIframe');
        iframe.src = contentURL;

        iframe.onload = function () {
            const iframeDocument = iframe.contentDocument || iframe.contentWindow.document;
            const contentContainer = iframeDocument.body;
            pageSize = window.innerHeight;

            const fragment = document.createDocumentFragment();
            let pageDiv = document.createElement('div');
            let currentHeight = 0;

            Array.from(contentContainer.childNodes).forEach(node => {
                if (node.offsetHeight) {
                    if (currentHeight + node.offsetHeight > pageSize) {
                        fragment.appendChild(pageDiv);
                        pageDiv = document.createElement('div');
                        currentHeight = 0;
                    }
                    currentHeight += node.offsetHeight;
                }
                pageDiv.appendChild(node.cloneNode(true));
            });

            if (pageDiv.childNodes.length > 0) {
                fragment.appendChild(pageDiv);
            }

            contentContainer.innerHTML = '';
            contentContainer.appendChild(fragment);
            pages = Array.from(contentContainer.childNodes);
            totalPages = pages.length;

            pages.forEach((page, index) => {
                page.style.display = (index === 0) ? 'block' : 'none';
            });
        };

        function showPage(page) {
            if (page < 0 || page >= totalPages) {
                return;
            }
            pages[currentPage].style.display = 'none';
            currentPage = page;
            pages[currentPage].style.display = 'block';
        }

        function nextPage() {
            showPage(currentPage + 1);
        }

        function prevPage() {
            showPage(currentPage - 1);
        }
    </script>

</body>

</html>
