<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>{{ book.title }}</title>
  <link href="{{ url_for('static', filename='static/css/main.css') }}" rel="stylesheet">
</head>

<body>
  <div
    class="fixed bottom-0 left-0 w-full backdrop-filter backdrop-blur-md bg-opacity-30 bg-white shadow-md flex justify-between items-center p-4"
    style="z-index: 2;">
    <button id="prevButton" class="bg-gray-200 hover:bg-gray-300 px-4 py-2 rounded-md text-sm">Previous</button>
    <a href='{{ url_for("library") }}'><button class="text-gray-700 font-bold px-4 py-2 rounded-md">Return to
        Library</button></a>
    <button id="nextButton" class="bg-gray-200 hover:bg-gray-300 px-4 py-2 rounded-md text-sm">Next</button>
  </div>
  <div class="h-screen">
    <!-- <iframe id="myIframe" src="{{ book.href[book.book_index_number] }}" -->
      <iframe id="contentFrame" src="{{ book.href[book.book_index_number] }}"
      style="overflow: hidden; position: absolute; top: 0; left: 0; width: 100vw; height: calc(100vh - 60px); border: 1rem; z-index: 1;"
      frameborder="0"></iframe>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      // Initialize variables
      let contentFrame = document.getElementById('contentFrame');
      let nextButton = document.getElementById('nextButton');
      let prevButton = document.getElementById('prevButton');
      let offset = 0; // The offset to start displaying content
      let contentHeight = 0;
  
      // Resize iframe based on window size
      const resizeFrame = () => {
          contentFrame.style.height = window.innerHeight + "px";
      };
  
      // Update iframe content based on offset
      const updateContent = () => {
          let contentDoc = contentFrame.contentDocument || contentFrame.contentWindow.document;
          contentDoc.documentElement.scrollTop = offset;
      };
  
      // Listen for window resize events
      window.addEventListener('resize', () => {
          resizeFrame();
          updateContent();
      });
  
      // Initialize iframe size
      resizeFrame();
  
      // Listen for Next button click
      nextButton.addEventListener('click', () => {
          let frameDoc = contentFrame.contentDocument || contentFrame.contentWindow.document;
          contentHeight = frameDoc.documentElement.scrollHeight;
          if (offset + parseInt(contentFrame.style.height) < contentHeight) {
              offset += parseInt(contentFrame.style.height);
              updateContent();
          }
      });
  
      // Listen for Previous button click
      prevButton.addEventListener('click', () => {
          if (offset >= parseInt(contentFrame.style.height)) {
              offset -= parseInt(contentFrame.style.height);
              updateContent();
          }
      });
  
      // Update content when iframe is loaded
      contentFrame.addEventListener('load', () => {
          updateContent();
      });
  });
  
</script>
</body>
</html>