.address {
    display: block;
    page-break-before: avoid;
    text-align: center;
    margin: 7pt 0 2pt
    }
.author {
    display: block;
    font-size: 1.41667em;
    line-height: 1.2;
    text-align: center;
    margin: 1em 0
    }
.blockquote {
    display: block;
    font-size: 0.75em;
    text-align: left;
    text-indent: 0.01em;
    margin: 8pt 25pt 8pt 18pt
    }
.blockquotem {
    display: block;
    font-size: 0.75em;
    text-align: left;
    text-indent: 0.01em;
    margin: 8pt 25pt 1pt 18pt
    }
.box {
    display: block;
    margin-bottom: 0.01em;
    margin-top: 1em;
    text-indent: 0.01em;
    padding: 0.5em;
    border: currentColor solid 0.1em
    }
.bull {
    display: block;
    text-align: left;
    text-indent: -9pt;
    margin: 4pt 0 4pt 17pt
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.83em 0
    }
.calibre2 {
    height: auto;
    width: auto
    }
.calibre3 {
    line-height: 1.2
    }
.calibre4 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre5 {
    font-size: 0.79412em;
    line-height: 1.2
    }
.calibre6 {
    display: block
    }
.calibre7 {
    font-size: 0.90909em;
    line-height: 1.2
    }
.calibre8 {
    font-weight: bold
    }
.calibre9 {
    font-style: italic
    }
.calibre10 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre11 {
    font-family: monospace
    }
.calibre12 {
    display: block;
    line-height: 1.2
    }
.calibre13 {
    font-size: 1em;
    line-height: 1.2
    }
.calibre14 {
    font-size: 1em;
    line-height: normal;
    vertical-align: super
    }
.calibre15 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: sub
    }
.calibre16 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre17 {
    display: table-header-group;
    vertical-align: middle
    }
.calibre18 {
    display: table-row;
    vertical-align: inherit
    }
.calibre19 {
    display: table-cell;
    text-align: inherit;
    vertical-align: inherit;
    padding: 1px
    }
.calibre20 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre21 {
    display: block
    }
.calibre22 {
    height: auto;
    width: 99%
    }
.caption {
    display: block;
    font-size: 0.75em;
    text-align: left;
    margin: 2pt 0 10pt
    }
.code {
    display: block;
    font-family: Courier New, monospace;
    font-size: 0.75em;
    margin-bottom: 1em;
    margin-left: 1pt;
    margin-top: 0.01em;
    padding-bottom: 0.5em;
    text-align: left;
    border-top: #A7A9AC solid 0.1em;
    border-bottom: #A7A9AC solid 0.1em
    }
.codelink {
    display: block;
    font-size: 0.75em;
    font-weight: bold;
    page-break-after: avoid;
    margin: 6pt 0 1pt
    }
.copyrightb {
    display: block;
    text-indent: 0.024pt;
    margin: 0.01em 0 0.8em
    }
.copyrighttb {
    display: block;
    text-indent: 0.024pt;
    margin: 2em 0 1em
    }
.ded {
    display: block;
    text-align: center;
    margin: 4em 0 1em
    }
.fig-caption {
    display: block;
    font-size: 0.75em;
    text-align: left;
    border-top: #A7A9AC solid 0.2em;
    margin: 2pt 0 10pt
    }
.fig-heading {
    display: block;
    page-break-inside: avoid
    }
.fn {
    display: block;
    font-size: 0.75em;
    text-align: left;
    text-indent: -1em;
    margin: 0.3em 0 0.1em 1em
    }
.fn1 {
    display: block;
    font-size: 0.75em;
    text-align: left;
    text-indent: -1.7em;
    margin: 0.3em 0 0.1em 1.2em
    }
.gray {
    color: #777988;
    font-size: 1.09091em;
    line-height: 1.2
    }
.h {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 1em 0 0.2em
    }
.h1 {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    margin: 1em 0 0.1em
    }
.h2 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    margin: 1em 0 0.1em
    }
.h2f {
    display: block;
    font-size: 1.83333em;
    font-weight: bold;
    line-height: 1.2;
    padding-bottom: 1em;
    padding-top: 1em;
    text-align: center;
    border-top: #A7A9AC solid 0.1em;
    border-bottom: #A7A9AC solid 0.1em;
    margin: 2em 0
    }
.h3 {
    display: block;
    font-size: 1em;
    font-weight: bold;
    text-align: left;
    margin: 1em 0 0.1em
    }
.hr {
    display: block;
    border-top: #A7A9AC solid 0.155em;
    margin: 4em 0 1em
    }
.hr1 {
    display: block;
    border-top: #A7A9AC solid 0.155em;
    margin: 3em 0 1em
    }
.image {
    display: block;
    text-align: center;
    margin: 1em 0
    }
.image-p {
    display: block;
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: left
    }
.image1 {
    display: block;
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: center
    }
.indent {
    display: block;
    margin: 1em 0
    }
.indenthangingb {
    display: block;
    text-align: left;
    text-indent: -9pt;
    margin: 4pt 0 4pt 10pt
    }
.indenthangingb1 {
    display: block;
    text-align: left;
    text-indent: -9pt;
    margin: 6pt 0 6pt 10pt
    }
.indenthangingbp {
    display: block;
    text-align: left;
    margin: 4pt 0 4pt 10pt
    }
.indenthangingn {
    display: block;
    text-align: left;
    text-indent: -12pt;
    margin: 4pt 0 4pt 12pt
    }
.indexmain {
    display: block;
    text-indent: -1em;
    margin: 0.1em 0 0.1em 1em
    }
.indexmain1 {
    display: block;
    text-indent: -1em;
    margin: 1.5em 0 0.1em 1em
    }
.indexsub {
    display: block;
    text-align: left;
    text-indent: -1em;
    margin: 0.1em 0 0.1em 2em
    }
.noindent {
    display: block;
    text-indent: 0.01em;
    margin: 1em 0 0.1em
    }
.noindent1 {
    display: block;
    text-indent: 0.01em;
    margin: 1em 0
    }
.noindentn {
    display: block;
    text-indent: 0.01em;
    margin: 0.5em 0
    }
.noindentnv {
    display: block;
    text-indent: 0.01em;
    margin: 0
    }
.pre {
    display: block;
    font-family: Courier New, monospace;
    font-size: 0.75em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    text-align: left;
    margin: 0.1em 0 0.1em 1pt
    }
.pre-ex {
    display: block;
    font-family: Courier New, monospace;
    font-size: 0.75em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    text-align: left;
    border-bottom: currentColor solid 0.1em;
    margin: 1em 0 0.1em 1pt
    }
.pre-ex1 {
    display: block;
    font-family: Courier New, monospace;
    font-size: 0.75em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    text-align: left;
    margin: 1em 0 0.1em 1pt
    }
.pre1 {
    display: block;
    font-family: Courier New, monospace;
    font-size: 0.75em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    text-align: left;
    border-top: currentColor solid 0.1em;
    border-bottom: currentColor solid 0.1em;
    margin: 0.1em 0 0.1em 1pt
    }
.pre2 {
    display: block;
    font-family: Courier New, monospace;
    font-size: 0.75em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    text-align: left;
    margin: 1em 0 1em 1pt
    }
.pre3 {
    display: block;
    font-family: Courier New, monospace;
    font-size: 0.75em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    text-align: left;
    margin: 1em 0 1em 43pt
    }
.publisher {
    display: block;
    text-align: center;
    margin: 50pt 0 2pt
    }
.right {
    display: block;
    font-size: 0.75em;
    text-align: right;
    margin: 0.01em 0
    }
.source {
    display: block;
    font-size: 0.75em;
    text-align: left;
    margin: 0.1em 0 1em
    }
.subtitle {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 7pt 0 20pt
    }
.toc {
    display: block;
    margin: 1.2em 0 0.2em 0.01em
    }
.toc-fm {
    display: block;
    text-indent: 0.01em;
    margin: 0.2em 0
    }
.toc-fm1 {
    display: block;
    text-indent: 0.01em;
    margin: 1em 0 0.2em
    }
.toc1 {
    display: block;
    text-align: left;
    margin: 0.01em 0 0.01em 5.4em
    }
.toc1a {
    display: block;
    text-indent: 0.002pt;
    margin: 1.2em 0 0.2em 0.01em
    }
.tocpart {
    display: block;
    text-align: left;
    text-indent: -3em;
    margin: 1.2em 0 0.2em 3em
    }
