@font-face { font-family: "Courier New"; src: url(fonts/cour.ttf); }
@font-face { font-family: "Courier New Bold"; src: url(fonts/courbd.ttf); }
@font-face { font-family: "Courier New Italic"; src: url(fonts/couri.ttf); }
@font-face { font-family: "Courier New Bold Italic"; src: url(fonts/courbi.ttf); }

body
{
    margin-top: 4pt;
    margin-bottom: 4pt;
    margin-right: 15pt;
}
.cover
{
    margin-top: 2pt;
    margin-bottom: 2pt;
    text-align: center;
}
h1
{
    page-break-before: right;
    margin-top: 5pt;
    text-align: center;
    margin-bottom: 12pt;
    font-weight: bold;
}
h2
{
    page-break-before: right;
    margin-top: 7pt;
    margin-bottom: 22pt;
    font-weight: bold;
}
h3
{
    margin-top: 9pt;
    margin-bottom: 8pt;
    font-weight: bold;
}
h4
{
    margin-top: 9pt;
    margin-bottom: 6pt;
    font-weight: bold;
}
h5
{
    margin-top: 9pt;
    margin-bottom: 6pt;
    font-weight: bold;
}
.publisher
{
    text-align: center;
    margin-top: 80pt;
    margin-bottom: 6pt;
}
.publishertext
{
    text-align: center;
    margin-top: 6pt;
    margin-bottom: 24pt;
}
.copy
{
    margin-top: 10pt;
    margin-bottom: 4pt;
    text-indent: 0.024pt;
}
.copy1
{
    margin-top: 10pt;
    margin-bottom: 4pt;
    margin-left: 28pt;
}
.dedication
{
    margin-top: 36pt;
    margin-bottom: 36pt;
    margin-left: 75pt;
    margin-right: 75pt;
    text-align: center;
}
.edition
{
    text-align: center;
    font-weight: bold;
    margin-top: 15pt;
    margin-bottom: 6pt;
}
p
{
    margin-top: 5pt;
    margin-bottom: 4pt;
    text-indent: 0.024pt;
}
.toc-preface
{
    margin-top: 6pt;
    margin-bottom: 20pt;
    text-indent: 0.024pt;
}
.toc-chapter
{
    margin-top: 12pt;
    margin-bottom: 6pt;
    text-indent: 0.024pt;
}
.toc-section
{
    margin-top: 6pt;
    margin-bottom: 6pt;
    margin-left: 15pt;
    text-indent: 15pt;
}
.toc-section1
{
    margin-top: 6pt;
    margin-bottom: 6pt;
    margin-left: 20pt;
    text-indent: 25pt;
}
.toc-appendix
{
    margin-top: 20pt;
    margin-bottom: 6pt;
    text-indent: 0.024pt;
}
.toc-appendix1
{
    margin-top: 12pt;
    margin-bottom: 6pt;
    text-indent: 0.024pt;
}
.toc-index
{
    margin-top: 20pt;
    margin-bottom: 24pt;
    text-indent: 0.024pt;
}
.author
{
    text-align: center;
    font-weight: bold;
    margin-top: 38pt;
    margin-bottom: 24pt;
}
em
{
    font-style: italic;
}
strong
{
    font-weight: bold;
}
.right
{
    margin-top: 6pt;
    margin-bottom: 6pt;
    text-align: right;
}
.center
{
    margin-top: 6pt;
    margin-bottom: 6pt;
    text-align: center;
}
.center1
{
    margin-top: 12pt;
    margin-bottom: 6pt;
    text-align: center;
}
.image
{
    margin-top: 12pt;
    margin-bottom: 12pt;
    text-align: center;
}
.image2
{
    margin-top: 1pt;
    margin-bottom: 12pt;
    text-align: center;
}
.image1
{
    margin-top: 12pt;
    margin-bottom: 1pt;
    text-align: center;
}
.indenthanging
{
    margin-top: 6pt;
    margin-bottom: 6pt;
    margin-left: 16pt;
}
.indenthangingB
{
    margin-top: 6pt;
    margin-bottom: 6pt;
    margin-left: 18pt;
    text-indent: -6pt;
}
.indenthangingN
{
    margin-top: 6pt;
    margin-bottom: 6pt;
    margin-left: 30pt;
    text-indent: -10pt;
}
.programlisting
{
    font-family: "Courier New";
    font-size: small;
    margin-top: 5pt;
    margin-bottom: 4pt;
    margin-left: 20pt;
}
.programlisting1
{
    font-family: "Courier New";
    font-size: small;
    margin-top: 5pt;
    margin-left: 13pt;
    margin-bottom: 4pt;
}
.programlisting2
{
    font-family: "Courier New";
    font-size: x-small;
    margin-top: 5pt;
    margin-bottom: 4pt;
}
.programlisting3
{
    font-family: "Courier New";
    font-size: small;
    margin-top: 5pt;
    margin-bottom: 4pt;
    margin-left: 40pt;
}
.programlisting4
{
    font-family: "Courier New";
    font-size: small;
    margin-top: 5pt;
    margin-bottom: 4pt;
    margin-left: 50pt;
}
.programlisting5
{
    font-family: "Courier New";
    font-size: small;
    margin-top: 5pt;
    margin-bottom: 4pt;
    margin-left: 22pt;
}
.sidebar
{
    font-size: small;
    margin-top: 5pt;
    margin-bottom: 12pt;
    margin-left: 15pt;
    padding: 1pt 12pt 1pt 12pt;
}
.sidebar1
{
    font-size: small;
    margin-top: 5pt;
    margin-bottom: 12pt;
    margin-left: 15pt;
    padding: 1pt 12pt 1pt 12pt;
    background-color: #e6e6e6;
}
.em
{
    font-family: "Courier New italic";
}
code
{
    font-size: small;
}
.indenthangingB1
{
    margin-top: 6pt;
    margin-bottom: 6pt;
    margin-left: 12pt;
    text-indent: -6pt;
}
.indenthangingN1
{
    margin-top: 6pt;
    margin-bottom: 6pt;
    margin-left: 17pt;
    text-indent: -11pt;
}
.indexmain
{
    margin-top: 2pt;
    margin-bottom: 2pt;
}
.indexsub
{
    margin-top: 2pt;
    margin-bottom: 2pt;
    margin-left: 7pt;
    text-indent: 7pt;
}
